<aside class="c-widget c-widget--list-item">
  <details class="c-widget__details">
    <summary class="c-widget__heading">UX details</summary>
    <ul class="c-widget__list c-widget__list--flat">
      {{#each ux}}
        <li>
          {{this}}
        </li>
      {{/each}}
    </ul>
  </details>
</aside>
