{{#> layouts/root section=techniques}}

  {{#*inline "content"}}

    <main class="main">
      <h1>{{title}}</h1>
      {{> includes/wcag-widget}}
      {{> includes/example}}
    </main>

    {{/inline}}

    {{/layouts/root}}
