$_color-incorrect: red;
$_color-correct: green;
$_padding-container: $spacing-large1x;

.c-example {
  border-style: solid;
  border-width: 3px;
  border-top: 0;
  border-radius: 6px;
  margin-bottom: $spacing-large3x;
  padding: $_padding-container;
}

.c-example:last-child {
  margin-bottom: 0;
}

.c-example.is-incorrect {
  border-color: $_color-incorrect;
}

.c-example.is-correct {
  border-color: $_color-correct;
}

.c-example__heading {
  color: $color-white;
  font-size: $typography-size-large1x;
  font-weight: 700;
  line-height: 1;
  margin: -$_padding-container;
  margin-bottom: $_padding-container;
  padding: $spacing-default $_padding-container;
}

.c-example__heading span {
  display: inline-block;
  margin-right: $spacing-small3x;
}

.c-example.is-incorrect .c-example__heading {
  background-color: $_color-incorrect;
}

.c-example.is-correct .c-example__heading {
  background-color: $_color-correct;
}

.c-example__inner:not(:last-of-type) {
  margin-bottom: $spacing-large2x;
}

.c-example__subheading {
  font-weight: 500;
  margin-bottom: $spacing-small2x;
}

.c-example__form-field:not(:last-of-type) {
  margin-bottom: $spacing-large3x;
}

.c-example__form-label {
  display: block;
  margin-bottom: $spacing-small3x;
}

.c-example__form-control {
  background-color: $color-blue-light2x;
  border: 1px solid $color-blue-light1x;
  padding: $spacing-small3x;
  width: 60%;
}
