html {
  background-color: $color-white;
  color: $color-body-copy;
  font-size: $typography-size-default;
  line-height: 1.7;
  padding-bottom: $spacing-large4x;
}

a {
  color: $color-blue-default;

  &:hover,
  &:focus {
    background-color: $color-blue-default;
    color: $color-white;
    text-decoration: none;
    transition: all 0.1s linear;
  }
}
