$_border: 1px solid gainsboro;

.l-header {
  background-color: $color-white;
  border-bottom: $_border;
  border-top: $_border;
  display: flex;
  margin-bottom: $spacing-large3x;
  position: sticky;
  top: 0;
  z-index: 2;
}

.l-header a {
  text-decoration: none;
}

/* Setup all the Flex containers and items */
.l-header__logo {
  display: flex;
}

.l-header__logo a,
.l-header__nav,
.l-header__nav ul,
.l-header__nav li,
.l-header__nav a {
  display: flex;
  flex: 1;
}

.l-header__logo a {
  background-color: $color-blue-default;
  color: $color-white;
  font-weight: 900;
  padding: $spacing-default;
}

.l-header__nav a {
  align-items: center;
  border-left: $_border;
  font-variant-caps: all-petite-caps;
  justify-content: center;

  &:hover,
  &:focus {
    background-color: $color-blue-default;
    color: $color-white;
  }

  &.is-active {
    &,
    &:hover,
    &:focus {
      background-color: $color-blue-light1x;
      color: $color-blue-default;
    }
  }
}

.l-main-content-header {
  align-items: baseline;
  display: flex;
  margin-bottom: $spacing-large4x;

  & *:first-child {
    flex: 1;
    margin-right: $spacing-default;
  }
}
